Test/resources/schema/ImAppXML.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ImAppXML">

    <xs:element name="app">
        <xs:complexType>
            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="layout" type="xs:string" use="required"/>
            <xs:attribute name="width" type="xs:int" default="0"/>
            <xs:attribute name="height" type="xs:int" default="0"/>
        </xs:complexType>
    </xs:element>

</xs:schema>